#root {
  background-color: #555;
  color: #fff;
}

.App {
  margin: 0 60px;
}

.top-row {
}

.filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.genre-select {
  flex-grow: 1;
  margin-right: 20px;
}

.sort-control {
  flex-shrink: 0;
}

.search-bar {
  margin: 0 200px;
}

header {
  background-color: #232323;
  padding: 0 60px 0 60px;
}
.search-block {
  padding-bottom: 150px;
}
.search-block h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  color: #fff;
}

article {
  margin-top: 10px;
  background-color: #232323;
  padding: 0 60px;
}

