
#root {
  background-color: #555;
  color: #fff;
}

.App {
  width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.genre-select {
  flex-grow: 1;
  margin-right: 20px;
}

.sort-control {
  flex-shrink: 0;
}

.search-bar {
  margin: 0 200px;
}

header {
  background-color: #232323;
}
header h2 {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 40px;
  color: #fff;
}
